/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    text-align: center;
    font-size: xx-large;
}

#arrayDisplays {
    text-align: center;
    padding: 10px;
    font-size: xx-large; /* Increase font size of the array display text */
    font-weight: bold;
}


#arrayDisplays span {
    font-weight: bold; /* Make the array values bold */
}

#visualizationContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row; /* Align bars in a row */
    justify-content: center; /* Center bars horizontally */
    align-items: flex-end; /* Align bars to the bottom */
    margin: 20px auto; /* Center the container */
    padding: 0 20px; /* Padding to ensure there is space at the sides */
    max-width: 80%; /* Maximum width of the container */
    box-sizing: border-box; /* Include padding in the width calculation */
}

#footer {
    text-align: center;
    padding: 50px;
}

/* styles.css */

#startSortingButton {
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text */
    padding: 15px 32px;          /* Padding inside the button */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px auto;         /* Vertical margin with automatic horizontal margin for centering */
    cursor: pointer;
    border: none;
    border-radius: 5px;        /* Rounded corners */
    width: 200px;              /* Fixed width */
}

#startSortingButton:hover {
    background-color:green; /* Darker green when hovered */
}

.bar {
    flex-grow: 1; /* Allows the bars to grow and fill the container */
    margin: 0 2px; /* Keeps a small margin between bars */
    background-color: blue;
    height: 5px; /* Minimum height */
    text-align: center;
    color: white; /* Text color */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden; /* Hides text overflow */
    min-width: 10px; /* Minimum width of a bar to ensure visibility */
    max-width: 60px; /* Maximum width of a bar to avoid overly wide bars */
}

.array-display {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Add styles for headings (titles) */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Make all headings bold */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media (max-width: 600px) {
    #arrayDisplays {
        font-size: xx-large; /* Adjust font size for smaller screens */
    }
    #visualizationContainer {
        max-width: 95%; /* Allow the container to take more width on smaller screens */
        padding: 0 10px; /* Less padding on smaller screens */
    }
}
