/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    color: #000000;
    background-color: #f7f7f7;
}

#header, #footer {
    text-align: left;
    padding: 0 22px;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
    border-color: #d1d1d1;
    border-style: solid;
    border-width: 0 0 1px 0; /* only bottom border for header */
}

#footer {
    border-width: 1px 0 0 0; /* only top border for footer */
}

#mainContainer {
    display: flex;
    justify-content: space-around; /* Changed for better space distribution */
    align-items: center; /* Align items vertically in the center */
    padding: 20px 0; /* Top and bottom padding */
    flex-wrap: wrap; /* Allows children to wrap to the next line on small screens */
}

#arrayDisplays {
    flex: 1 1 300px; /* Adjust the size to flex with the available space */
    margin: 0 20px; /* Horizontal margins for spacing */
    text-align: left;
    padding: 10px 22px;
    font-size: 16px;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: bold;
}

#arrayDisplays span {
    font-weight: normal;
    display: block;
    padding-top: 5px;
}

#visualizationContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: flex-end;
    margin: 20px auto;
    padding: 0 22px;
    max-width: 80%;
}

#arrayOptionsContainer {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
}


#randomizeArrayButton {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 3px solid black;
    border-radius: 18px;
}

#arraySizeSelector {
    padding: 8px 12px;
    font-size: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 18px;
    appearance: none; /* Changed from radio to none */
}

#controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 1 200px; /* Flex grow, flex shrink, and flex-basis settings */
}

#startSortingButton, #speedSelectorContainer #randomizeArrayButton {
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 18px;
    transition: background-color 0.3s;
}

#startSortingButton:hover, #startSortingButton:focus, #speedSelectorContainer:hover, #randomizeArrayButton:hover {
    background-color: orange;
    transition: background-color 1.3s;
}

#speedSelectorContainer {
    background-color: white;
    border-radius: 8px;
    padding: 10px 10px;
    border: 3px solid black;  
}

#speedSelector {
    padding: 8px 8px;
    font-size: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 18px;
    appearance: none; /* Changed from radio to none */
}

#speedSelector:hover {
    border-color: rgba(255, 166, 0, 0.494)
}

.barContainer {
    margin: 0 2px;
    min-width: 10px;
    max-width: 60px;
}

.bar {
    flex-grow: 1;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.valueLabel {
    font-size: 12px;
    color: #000000;
    padding-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    #arrayDisplays, #visualizationContainer {
        max-width: 95%;
        padding: 0 15px;
    }
    #controlsContainer {
        flex-direction: column;
    }
    #startSortingButton, #speedSelectorContainer {
        width: 100%;
        margin-bottom: 10px;
    }
    #startSortingButton:last-child, #speedSelectorContainer:last-child {
        margin-bottom: 0;
    }
}

/* Prevent copyright hyperlink from being highlighted purple when clicked */
a#copyrightLink:visited {
    color: inherit;
}